/* changing dropdown color on hover */
.dropdown:hover {
  background-color: darkgray;
}

/* making the dropdown items view when hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* changing the dropdown link color on hover */
.dropdown-menu .dropdown-item:hover {
  background-color: darkgray;
}



.word-space {
  word-spacing: -2px
}

.card-img-size {
  max-width: 150px;
}


.section-pad {
  max-width: 800px;
  padding-top: 90px;
  padding-bottom: 120px;
  margin: auto;
}

.zero-radius {
  border-radius: 0 !important;
}

.card {
  width: 15rem
}

.form-width {
    width: 35%;
    padding: 3px;
}

.submit-btn {
    margin-left: 75%;
}

.contact-img {
  width: 100%;
}

.contact-btn {
  margin-left: 210px;
}



@media screen and (max-width: 768px) {
  nav {
    position: sticky;
  }

  .fa-magnifying-glass {
    display: none;
  }

  .card {
    width: auto;
  }

  .section-pad {
    max-width: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
  }
  .contact-responsive {
    padding-bottom: 20px;
  }

  .form-responsive {
    width: auto;
    min-width: 100%;
  }
  .contact-btn {
    float: right;
  }
}

@media screen {

}
